<div class="service-one-inn">
    
    <div class="service-list-inn">
        <a href="#" class="service-list-one">
            <span>01</span>
            <div class="service-one__title">Бухгалтерское абоненское обслуживание</div>
            <div class="service-one__price">цена от 2 000 руб.</div>
        </a>

        <a href="#" class="service-list-one">
            <span>02</span>
            <div class="service-one__title">Восстановление учета</div>
            <div class="service-one__price">цена от 2 000 руб.</div>
        </a>

        <a href="#" class="service-list-one">
            <span>03</span>
            <div class="service-one__title">Возмещение НДС по импортным операциям</div>
            <div class="service-one__price">цена от 2 000 руб.</div>
        </a>

        <a href="#" class="service-list-one">
            <span>04</span>
            <div class="service-one__title">Подтверждение нулевой ставки НДС</div>
        <div class="service-one__price">цена от 2 000 руб.</div>
        </a>

        <a href="#" class="service-list-one">
            <span>05</span>
            <div class="service-one__title">Постановка учета «с нуля»</div>
            <div class="service-one__price">цена от 2 000 руб.</div>
        </a>

        <a href="#" class="service-list-one">
            <span>06</span>
            <div class="service-one__title">Оптимизация налогообложения</div>
            <div class="service-one__price">цена от 2 000 руб.</div>
        </a>

        <a href="#" class="service-list-one">
            <span>07</span>
            <div class="service-one__title">Составление налоговых деклараций и  бухгалтерской отчетности по данным заказчика</div>
            <div class="service-one__price">цена от 2 000 руб.</div>
        </a>

        <a href="#" class="service-list-one">
            <span>08</span>
            <div class="service-one__title">Составление и сдача «нулевой» отчетности</div>
        <div class="service-one__price">цена от 2 000 руб.</div>
        </a>

        <a href="#" class="service-list-one">
            <span>09</span>
            <div class="service-one__title">Помощь при регистрации on-line кассы</div>
            <div class="service-one__price">цена от 2 000 руб.</div>
        </a>
    </div>
    <div class="service-list-botton">
        <div class="content">
            <h2>Вы ищите профессионального бухгалтера?<br>
            Хотите сократить затраты на ведение бухгалтерии?</h2>

            <p>Передача ведения бухгалтерского и налогового учета нашей специализированной компании с наймом бухгалтера, обладает целым рядом преимуществ:</p>
            <ol>
                <li>Услуга бухгалтерского обслуживания или бухгалтерского сопровождения обойдется Вам дешевле, чем наемный бухгалтер.</li>

                <li>Вы существенно сократите затраты на содержание бухгалтерии. Вам не нужно будет вкладывать в организацию рабочего места, покупать и обновлять специализированное программное обеспечение, платить заработную плату сотруднику и налоги на нее, повышать его квалификацию.</li>

                <li>Ответственность за правильность бухгалтерского учета и своевременность расчётов налогов, представление интересов Вашей организации в налоговой инспекции и внебюджетных фондах, в соответствии с договором бухгалтерского обслуживания, Вы можете передать нашей компании. При этом если Ваш новый наемный бухгалтер оказался недостаточно квалифицированным, то последствия его ошибок и налоговые штрафы ложатся на Вашу организацию, поскольку ответственность наемного бухгалтера за свою работу ограничивается лишь одним месячным окладом.</li>

                <li>В нашей компании, бухгалтерским учетом и составлением отчетности занимаются профессионалы, которые постоянно отслеживают изменения в законодательстве и повышают свою квалификацию, что гарантирует Вам соблюдение всех правил и требований различных государственных нормативных документов при ведении учета и составлении отчетности.</li>

                <li>Ваша организация перестанет зависеть от «человеческого фактора»: взаимозаменяемость наших сотрудников, их высокая квалификация и опыт гарантируют Вам работу без отпусков и больничных. Вы также больше не будете сталкиваться с проблемой преемственности при передаче дел от увольняющегося бухгалтера к новому.</li>

                <li>При расширении бизнеса Вам нет необходимости увеличивать штат бухгалтерии, тратить время на поиск и подбор квалифицированных специалистов или платить кадровому агентству.</li>
            </ol>
        </div>
    </div>
</div>