<div class="content">
    <div class="sert-list">
        <a href="#sert" data-id="1" class="sert-one open-modal changeSert">
            <div class="sert-img">
                <img src="tmp/sert1.jpg" alt="">
            </div>
            <div class="sert-title">Название лицензии или сертификата</div>
        </a>
        <a href="#sert" data-id="2" class="sert-one open-modal changeSert">
            <div class="sert-img">
                <img src="tmp/sert3.jpg" alt="">
            </div>
            <div class="sert-title">Название лицензии или сертификата</div>
        </a>
        <a href="#sert" data-id="3" class="sert-one open-modal changeSert">
            <div class="sert-img">
                <img src="tmp/sert2.jpg" alt="">
            </div>
            <div class="sert-title">Сертификат подтверждающий репутацию компании</div>
        </a>
        <a href="#sert" data-id="4" class="sert-one open-modal changeSert">
            <div class="sert-img">
                <img src="tmp/sert4.jpg" alt="">
            </div>
            <div class="sert-title">Название сертификата</div>
        </a>
        <a href="#sert" data-id="5" class="sert-one open-modal changeSert">
            <div class="sert-img">
                <img src="tmp/sert2.jpg" alt="">
            </div>
            <div class="sert-title">Сертификат компании</div>
        </a>
    </div>
</div>

<div class="categories wrap">
    <a href="#" class="category">
        <span>подробнее</span>
        <div class="category__title">О компании</div>
    </a>
    <a href="#" class="category">
        <span>подробнее</span>
        <div class="category__title">Клиенты и партнеры</div>
    </a>
    <a href="#" class="category">
        <span>подробнее</span>
        <div class="category__title">Лицензии и сертификаты</div>
    </a>
</div>