<div class="content">
    <h1>Что мы делаем</h1>
    <p>Мы успешно работаем в области бухгалтерского учета и аудита более 10 лет. Наша Компания оказывает бухгалтерские услуги юридическим лицам и индивидуальным предпринимателям: ведение бухгалтерского и налогового учета, составление и сдача квартальной и годовой отчетности, расчет заработной платы, взносов в Пенсионный Фонд России, Фонд Социального Страхования и пр., кадровый учет, восстановление бухгалтерии. Мы так же оказываем услуги по регистрации, внесению изменений и ликвидации юридических лиц, услуги по регистрации и снятию с учета индивидуальных предпринимателей.</p>

    <p>Для осуществления качественного бухгалтерского сопровождения своих клиентов Компания ФинЭксперт-Екатеринбург использует передовые интернет-технологии: наличие собственного сервера с организацией защищенного доступа Клиента к его базам данных и электронным копиям первичных документов круглосуточно, использование телекоммуникационных каналов связи для передачи отчетности контролирующим органам, для проверки контрагентов и пр.</p>

    <p>Использование передовых интернет-технологий, творческий подход к выполнению поставленных задач, постоянное внедрение новых сервисов позволило Компании получить контракты на бухгалтерское обслуживание не только в г. Екатеринбурге и Свердловской области, но и в городах Москва, Санкт-Петербург, Челябинск, Миасс, Нефтекамск, Ростов на Дону, в Республике Крым.</p>

    <blockquote>
        Заключая договор на бухгалтерское обслуживание, Компания берет на себя полную ответственность за качество оказываемых услуг.
    </blockquote>

    <h2>Мы гарантируем:</h2>
    <ol>
        <li>Полное и качественное ведение бухгалтерского учета Вашей организации – ведущие специалисты нашей Компании имеют стаж от 8 лет;</li>
        <li>Своевременное предоставление отчетности контролирующим органам - у нас система контроля специалистов, система дублирования для исключения технических проблем при сдаче отчетности;</li>
        <li>Сохранность Вашей информационной базы данных и электронных архивов документов - у нас развитая система резервного копирования данных;</li>
        <li>Сохранность переданных нам первичных документов бухгалтерского учета - у нас отлаженная системы архивирования документов на бумажных носителях.</li>
    </ol>

    <ul>
        <li>Полное и качественное ведение бухгалтерского учета Вашей организации – ведущие специалисты нашей Компании имеют стаж от 8 лет;</li>
        <li>Своевременное предоставление отчетности контролирующим органам - у нас система контроля специалистов, система дублирования для исключения технических проблем при сдаче отчетности;</li>
        <li>Сохранность Вашей информационной базы данных и электронных архивов документов - у нас развитая система резервного копирования данных;</li>
        <li>Сохранность переданных нам первичных документов бухгалтерского учета - у нас отлаженная системы архивирования документов на бумажных носителях.</li>
    </ul>

    <h3>Мы предложим Вам комплекс мер по оптимизации налоговой базы!</h3>

    <mark>Многолетний опыт дает нам знания всех тонкостей и нюансов работы в области бухгалтерского и налогового учета, которые мы с радостью готовы делиться с Вами!</mark>

    <p>Передав ведение бухгалтерии специалистам нашей компании, Вы сможете воспользоваться высокопрофессиональной помощью за разумную цену.</p>
</div>

<div class="categories wrap">
    <a href="#" class="category">
        <span>подробнее</span>
        <div class="category__title">Наши сотрудники</div>
    </a>
    <a href="#" class="category">
        <span>подробнее</span>
        <div class="category__title">Клиенты и партнеры</div>
    </a>
    <a href="#" class="category">
        <span>подробнее</span>
        <div class="category__title">Лицензии и сертификаты</div>
    </a>
</div>