<div class="top" style="background-image: url(tmp/text-top.jpg);">
    <div class="slider-descr top-descr">
        <div class="top-descr__title fadeInUpSlide">
            О компании «ФинЭксперт - Екатеринбург»
        </div>
                <div class="top-descr__text fadeInUpSlide">«ФинЭксперт-Екатеринбург» существует с 2002 года и специализируется на оказании бухгалтерских услуг предприятиям малого и среднего бизнеса и индивидуальным предпринимателям по всей России на аутсорсинге.</div>
    </div>
    <div class="scroll-bottom">Крути вниз</div> 
</div>