<div class="content content--news">
    <mark>Сотрудники компании "ФинЭксперт-Екатеринбург" готовы решить проблему восстановления учета в Вашей Компании!</mark>

    <p>Для этого мы проведем анализ состояния бухгалтерского учета, оценим возможные налоговые риски и предложим комплекс мер по восстановлению бухгалтерского и налогового учета. В их числе: выявление недостающих первичных учетных документов, получение дубликатов документов у контрагентов Заказчика, занесение информации о документе в бухгалтерскую базу, проверка полноты сведений, содержащихся в бухгалтерской базе данных Заказчика, формирование и предоставление в налоговый орган уточненных налоговых деклараций.</p>

    <p>Компания «ФинЭксперт-Екатеринбург» имеет отлаженную систему архивирования документов на бумажных и электронных носителях, а также систему резервного копирования данных- Вы больше не столкнетесь с проблемой потери данных!</p>

    <p>Восстановление бухгалтерского учета, начиная с конца периода, за который был предоставлен последний отчет и до текущей даты, является обязательным.</p>

    <h2>Особенности восстановления бухгалтерского учета</h2>

    <p>На наш взгляд, на практике соблюдение такого требования может быть весьма затруднительно. Это объясняется следующим. Трудовой договор с иностранными гражданами, как и с гражданами РФ, по общему правилу заключается на неопределенный срок (ч. 5 ст. 327.1 ТК РФ).</p>

    <p>Соответственно, если обстоятельства, предусмотренные статьей 59 ТК РФ, отсутствуют, с иностранцем, временно пребывающим в РФ, трудовой договор необходимо заключить на неопределенный срок. При этом полис ДМС либо договор на предоставление медуслуг, как правило, не являются бессрочными. Возникает вопрос: правомерно ли заключение бессрочного трудового договора с иностранцем, который представил полис ДМС, оформленный, к примеру, на один год?</p>

    <p>Полагаем, что при наличии всех иных обязательных для трудоустройства документов (в частности, разрешения на работу или патента) трудовой договор оформляется с иностранцем на неопределенный срок.</p>
</div>


<div class="service-bottom">
    <div class="content">
        <a href="#" class="service-bottom__back">к списку новостей</a>
    </div>
</div>

<div class="wrap">
    <div class="news-title">Другие новости</div>
    <div class="news-list">
        <div class="news-one">
            <a class="news-one__img" href="#" style="background-image: url(tmp/news-main.jpg);"></a>
            <div class="news-one__date">август  |  22.2017</div>
            <a class="news-one__title" href="#">Увеличение пеней по налогам, сборам и страховым взносам</a>
        </div>
        <div class="news-one">
            <a class="news-one__img" href="#" style="background-image: url(tmp/news-main2.jpg);"></a>
            <div class="news-one__date">август  |  08.2017</div>
            <a class="news-one__title" href="#">Увеличение штрафов за задержку заработной платы или люби свою команду</a>
        </div>
        <div class="news-one">
            <a class="news-one__img" href="#" style="background-image: url(tmp/news-main.jpg);"></a>
            <div class="news-one__date">август  |  22.2017</div>
            <a class="news-one__title" href="#">Увеличение пеней по налогам, сборам и страховым взносам</a>
        </div>
    </div>
</div>
