<footer class="footer">
    <div class="footer-inn">
        <div class="wrap">

            <div class="footer-top">
                <div class="footer-menu">
                    <a href="#">О компании</a>
                    <a href="#">Новости</a>
                    <a href="#">Контакты</a>
                </div>

                <a class="footer-price" href="#">Прайс-лист</a>
            </div>
            
            <div class="footer-middle">
                <div class="footer-logo">
                    <img src="img/logo-footer.png" alt="">
                </div>
                
                <div class="footer-text">
                    <div class="footer-text__title">Адрес</div>
                    <p>620144, г. Екатеринбург,<br>
                    Горького, 65, 3 подъезд, 5 этаж,<br>
                    офисы 302-303</p>
                </div>
                <div class="footer-text">
                    <div class="footer-text__title">Свяжитесь с нами</div>
                    <p>T. +7 (343) 386-2000<br>
                    @ <a href="#">info@FinExpert-Ekb.ru</a></p>
                </div>
            </div>
            <div class="footer-social">
                <a href="#"><i class="icon-vk"></i><span>ВКонтакте</span></a>
                <a href="#"><i class="icon-ok"></i><span>Одноклассники</span></a>
                <a href="#"><i class="icon-fb"></i><span>Facebook</span></a>
                <a href="#"><i class="icon-g"></i><span>Google Plus</span></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <span>© 2017 ООО «ФинЭксперт – Екатеринбург»</span>         <em>|</em>         <span>Все права защищены</span>         <em>|</em>         <span>Разработка сайта <a href="#">«Софтмажор»</a></span>
    </div>
</footer>