<header class="head" id="top">
    <div class="head-top">
        <div class="head-logo">
            <img src="img/logo.png" alt="">
        </div>
        
        <div class="head-service wow fadeInDown" 
        data-wow-delay="0.3s" 
        data-wow-duration="0.5s">
            <a href="#">Бухгалтерские услуги</a>
            <a href="#">Аудиторские услуги</a>
            <a href="#">Юридические услуги</a>
        </div>

        <a href="#" class="head-price wow fadeInDown" 
        data-wow-delay="0.3s" 
        data-wow-duration="0.5s">Прайс-лист</a>
        
        <a href="#" class="head-phone"><span>+7 (343)</span> 386-2000</a>
    </div>

    <div class="head-left">
        
        <div class="head-social wow fadeInLeftRotated" data-wow-delay="0.3s" 
        data-wow-duration="0.5s">
            <a href="#">Viber</a>
            <a href="#">Skype</a>
            <a href="#">Telegram</a>
            <a href="#">Whatsapp</a>
        </div>
        <a href="#menu" class="head-menu open-modal wow fadeInLeftRotated" 
        data-wow-delay="0.3s" 
        data-wow-duration="0.5s"><span>Меню</span></a>
    </div>

    <a href="#menu" class="mobile-menu open-modal"></a>

    <a href="#order" class="head-order open-modal wow fadeInRightRotated"
    data-wow-delay="0.3s" 
    data-wow-duration="0.5s"><span>Звоните</span></a>
    
</header>