<header class="head">
    <div class="head-top">
        <div class="head-logo">
            <img src="img/logo.png" alt="">
        </div>
        
        <div class="head-service">
            <a href="#">Бухгалтерские услуги</a>
            <a href="#">Аудиторские услуги</a>
            <a href="#">Юридические услуги</a>
        </div>

        <div class="head-price">Прайс-лист</div>
        
        <a href="" class="head-phone"><span>+7 (343)</span> 386-2000</a>
    </div>

    <div class="head-left">
        
        <div class="head-social">
            <a href="#">Viber</a>
            <a href="#">Skype</a>
            <a href="#">Telegram</a>
            <a href="#">Whatsapp</a>
        </div>
        <a href="#" class="head-menu open-modal">Меню</a>
    </div>

    <a href="#" class="head-order">Звоните</a>
    
</header>