<div id="overlay">

	<div class="modal modal--menu" id="menu">
		<div class="menu-close modal-close"></div>
		<a href="#" class="menu-logo">
			<img src="img/logo-menu.png" alt="">
		</a>
		<div class="menu-list">
			<ul>
				<li class="menu-one"><a href="#"><em></em>О компании</a>
					<ul>
						<li><a href="#">Лицензии</a></li>
						<li><a href="#">Сотрудники</a></li>
						<li><a href="#">Клиенты и партнеры</a></li>
					</ul>
				</li>
				<li class="menu-one"><a href="#"><em></em>Бухгалтерские услуги</a>
					<ul>
						<li><a href="#">Бухгалтерское абоненское обслуживание</a></li>
						<li><a href="#">Восстановление учета</a></li>
						<li><a href="#">Возмещение НДС по импортным операциям</a></li>
						<li><a href="#">Подтверждение нулевой ставки НДС</a></li>
						<li><a href="#">Постановка учета «с нуля»</a></li>
						<li><a href="#">Оптимизация налогообложения</a></li>
						<li><a href="#">Составление налоговых деклараций и бухгалтерской отчетности</a></li>
						<li><a href="#">Составление и сдача «нулевой» отчетности</a></li>
						<li><a href="#">Помощь при регистрации on-line кассы</a></li>
						<li><a href="#">Предоставление доступа Заказчику к его бухгалтерским базам</a></li>
						<li><a href="#">Бухгалтерское абоненское обслуживание</a></li>
						<li><a href="#">Восстановление учета</a></li>
						<li><a href="#">Возмещение НДС по импортным операциям</a></li>
						<li><a href="#">Подтверждение нулевой ставки НДС</a></li>
						<li><a href="#">Постановка учета «с нуля»</a></li>
						<li><a href="#">Оптимизация налогообложения</a></li>
						<li><a href="#">Бухгалтерское абоненское обслуживание</a></li>
						<li><a href="#">Восстановление учета</a></li>
						<li><a href="#">Возмещение НДС по импортным операциям</a></li>
						<li><a href="#">Подтверждение нулевой ставки НДС</a></li>
						<li><a href="#">Постановка учета «с нуля»</a></li>
						<li><a href="#">Оптимизация налогообложения</a></li>
					</ul>
				</li>
				<li class="menu-one"><a href="#"><em></em>Аудиторские услуги</a>
					<ul>
						<li><a href="#">Бухгалтерское абоненское обслуживание</a></li>
						<li><a href="#">Восстановление учета</a></li>
						<li><a href="#">Возмещение НДС по импортным операциям</a></li>
						<li><a href="#">Подтверждение нулевой ставки НДС</a></li>
						<li><a href="#">Постановка учета «с нуля»</a></li>
						<li><a href="#">Оптимизация налогообложения</a></li>
						<li><a href="#">Составление налоговых деклараций и бухгалтерской отчетности</a></li>
						<li><a href="#">Составление и сдача «нулевой» отчетности</a></li>
						<li><a href="#">Помощь при регистрации on-line кассы</a></li>
						<li><a href="#">Предоставление доступа Заказчику к его бухгалтерским базам</a></li>
						<li><a href="#">Бухгалтерское абоненское обслуживание</a></li>
						<li><a href="#">Восстановление учета</a></li>
						<li><a href="#">Возмещение НДС по импортным операциям</a></li>
						<li><a href="#">Подтверждение нулевой ставки НДС</a></li>
						<li><a href="#">Постановка учета «с нуля»</a></li>
						<li><a href="#">Оптимизация налогообложения</a></li>
					</ul>
				</li>
				<li class="menu-one"><a href="#">Юридические услуги</a></li>
				<li class="menu-one"><a href="#">Новости </a></li>
				<li class="menu-one"><a href="#">Контакты</a></li>
				<li class="menu-one"><a href="#">Прайс-лист</a></li>
			</ul>
		</div>
		<a href="#" class="head-phone head-phone--menu"><span>+7 (343)</span> 386-2000</a>
		<a href="#order" class="head-order head-order--menu open-modal"><span>Звоните</span></a>
		<div class="menu-social">
			<div class="menu-social-inn">
	            <a href="#">Viber</a>
	            <a href="#">Skype</a>
	            <a href="#">Telegram</a>
	            <a href="#">Whatsapp</a>
			</div>
        </div>
	</div>

	<div class="modal modal--order" id="order">
		<div class="menu-close modal-close"></div>
		<div class="order-form">
			<div class="order-form__title">Заказать звонок</div>
			<form action="" id="order">
				<div class="form-line">
					<input type="text" name="name" placeholder="Имя">
				</div>
				<div class="form-line">
					<input type="text" name="phone" placeholder="Телефон">
				</div>
				<div class="form-line">
					<button>отправить</button>
				</div>
			</form>
		</div>
	</div>

</div>