<div class="content">
    <div class="price-tabs">
        <div class="price-tab open">
            <h1>Бухгалтерские услуги</h1>
            <table class="table">
                <tr>
                    <th>1.</th>
                    <th>Ведение бухгалтерского учета, составление и сдача отчетности - абонентское обслуживание.</th>
                    <th></th>
                </tr>
                <tr>
                    <td></td>
                    <td>От 11 до 50 первичных бухгалтерских документов в месяц</td>
                    <td>3 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>От 51 до 151 первичных бухгалтерских документов в месяц</td>
                    <td>5 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>От 151 первичных бухгалтерских документов в месяц</td>
                    <td>10 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Услуга "Главный бухгалтер"</td>
                    <td>30 000 руб./мес.</td>
                </tr>
                <tr>
                    <th>2.</th>
                    <th>Начисление, учет заработной платы. Расчет обязательных платежей от ФОТ. Составление и сдача отчетности.</th>
                    <th></th>
                </tr>
                <tr>
                    <td></td>
                    <td>От 11 до 50 первичных бухгалтерских документов в месяц</td>
                    <td>3 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>От 51 до 151 первичных бухгалтерских документов в месяц</td>
                    <td>5 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>От 151 первичных бухгалтерских документов в месяц</td>
                    <td>10 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Услуга "Главный бухгалтер"</td>
                    <td>30 000 руб./мес.</td>
                </tr>

            </table>
        </div>
        <div class="price-tab">
            <h1>Юридические услуги</h1>
            <table class="table">
                <tr>
                    <th>1.</th>
                    <th>Ведение бухгалтерского учета, составление и сдача отчетности - абонентское обслуживание.</th>
                    <th></th>
                </tr>
                <tr>
                    <td></td>
                    <td>От 11 до 50 первичных бухгалтерских документов в месяц</td>
                    <td>3 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>От 51 до 151 первичных бухгалтерских документов в месяц</td>
                    <td>5 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>От 151 первичных бухгалтерских документов в месяц</td>
                    <td>10 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Услуга "Главный бухгалтер"</td>
                    <td>30 000 руб./мес.</td>
                </tr>
                <tr>
                    <th>2.</th>
                    <th>Начисление, учет заработной платы. Расчет обязательных платежей от ФОТ. Составление и сдача отчетности.</th>
                    <th></th>
                </tr>
                <tr>
                    <td></td>
                    <td>От 11 до 50 первичных бухгалтерских документов в месяц</td>
                    <td>3 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>От 51 до 151 первичных бухгалтерских документов в месяц</td>
                    <td>5 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>От 151 первичных бухгалтерских документов в месяц</td>
                    <td>10 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Услуга "Главный бухгалтер"</td>
                    <td>30 000 руб./мес.</td>
                </tr>

            </table>
        </div>
        <div class="price-tab">
            <h1>Аудиторские услуги</h1>
            <table class="table">
                <tr>
                    <th>1.</th>
                    <th>Ведение бухгалтерского учета, составление и сдача отчетности - абонентское обслуживание.</th>
                    <th></th>
                </tr>
                <tr>
                    <td></td>
                    <td>От 11 до 50 первичных бухгалтерских документов в месяц</td>
                    <td>3 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>От 51 до 151 первичных бухгалтерских документов в месяц</td>
                    <td>5 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>От 151 первичных бухгалтерских документов в месяц</td>
                    <td>10 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Услуга "Главный бухгалтер"</td>
                    <td>30 000 руб./мес.</td>
                </tr>
                <tr>
                    <th>2.</th>
                    <th>Начисление, учет заработной платы. Расчет обязательных платежей от ФОТ. Составление и сдача отчетности.</th>
                    <th></th>
                </tr>
                <tr>
                    <td></td>
                    <td>От 11 до 50 первичных бухгалтерских документов в месяц</td>
                    <td>3 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>От 51 до 151 первичных бухгалтерских документов в месяц</td>
                    <td>5 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>От 151 первичных бухгалтерских документов в месяц</td>
                    <td>10 000 руб./мес.</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Услуга "Главный бухгалтер"</td>
                    <td>30 000 руб./мес.</td>
                </tr>

            </table>
        </div>
    </div>
</div>

<div class="service-one-inn">
    <div class="service-order">
        <div class="content">
            <div class="form-title">Оформить заявку</div>
            <form id="service-order">
                <div class="form-line">
                    <div class="form-col">
                        <input type="text" name="name" placeholder="ФИО">
                    </div>
                    <div class="form-col">
                        <div class="select">
                           <input type="text" name="service" readonly>
                           <div class="select-list" style="display: none;">
                               <div class="select-list__one select-default">Бухгалтерские услуги</div>
                               <div class="select-list__one">Аудиторские услуги</div>
                               <div class="select-list__one">Юридические услуги</div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="form-line">
                    <div class="form-col">
                        <input type="text" name="phone" placeholder="Телефон">
                    </div>
                    <div class="form-col">
                        <input type="text" name="email" placeholder="E-mail">
                    </div>
                </div>
                <div class="form-line">
                    <textarea name="message" placeholder="Комментарий"></textarea>
                </div>
                <div class="form-line">
                    <div class="form-personal">
                        <input type="checkbox" id="personal" name="personal"  checked="checked">
                        <label for="personal">Я даю согласие на обработку персональных данных.
                        <a href="#">Политику конфиденциальности</a></label>
                    </div>
                    <button>отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>