<div class="content">
<table class="contact-table">
    <tr>
        <td>
            <h4>Режим работы:</h4>

            <p>Пн-Пт: 09:00 - 18:00<br>
            Сб-Вс: выходной</p>

        </td>
        <td>
            <h4>Банковские реквизиты:</h4>
           <p>Р/ счет 40702810500210008101<br>
            БАНК "НЕЙВА" ООО Г. ЕКАТЕРИНБУРГ<br>
            Кор.счет: 30101810400000000774<br>
            БИК: 046577774</p> 
        </td>
    </tr>
</table>

    
</div>
<div class="service-one-inn">
    <div class="service-order">
        <div class="content">
            <div class="form-title">Оформить заявку</div>
            <form id="service-order">
                <div class="form-line">
                    <div class="form-col">
                        <input type="text" name="name" placeholder="ФИО">
                    </div>
                    <div class="form-col">
                        <div class="select">
                           <input type="text" name="service" readonly>
                           <div class="select-list" style="display: none;">
                               <div class="select-list__one select-default">Бухгалтерские услуги</div>
                               <div class="select-list__one">Аудиторские услуги</div>
                               <div class="select-list__one">Юридические услуги</div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="form-line">
                    <div class="form-col">
                        <input type="text" name="phone" placeholder="Телефон">
                    </div>
                    <div class="form-col">
                        <input type="text" name="email" placeholder="E-mail">
                    </div>
                </div>
                <div class="form-line">
                    <textarea name="message" placeholder="Комментарий"></textarea>
                </div>
                <div class="form-line">
                    <div class="form-personal">
                        <input type="checkbox" id="personal" name="personal" checked="checked">
                        <label for="personal">Я даю согласие на обработку персональных данных.
                        <a href="#">Политику конфиденциальности</a></label>
                    </div>
                    <button>отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

