//переменные
@font: 'Noto Sans', sans-serif;
@font-title: 'Noto Serif', serif;
@font-alt: 'Trebuchet MS', serif;

@color_white: #fff;
@color_text: #000;
@color_link: #3f6349;
@blue: #003777;
@grey: #bac8bd;
@green: #3f6349;
@yellow: #f5f0ad;
@red: #d32d23;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-spacing: normal;
}

div {
    position: relative;
}

html { 
    height: 100%; 
    width: 100%; 
}

body {
    width: 100%; 
    position: relative;
    font-family: @font;
    margin: 0;
    padding: 0;
    background: @color_white;
    color: @color_text;
}

img {
    border: none;
}

p {
    font-size: 16px;
    margin: 0 0 30px 0;
    line-height: 30px;
}

a {
    color: @color_link;
    outline: none;
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
        color: @red;
        border-bottom-color: transparent;
    }
}

button {
    transition: all 0.2s;
}

a:hover {
    text-decoration: none;
}

.head (@font-size, @margin-bottom, @line-height: normal, @color) {
    font-size: @font-size;
    margin: 0 0 @margin-bottom 0;
    line-height: @line-height;
    color: @color;
}

h1 {
    .head(34px, 40px, normal, @color_text);
    font-weight: 700;
    font-family: @font-title;
    text-align: center;
}

h2 {
    .head(28px, 30px, normal, @color_text);
    font-weight: 700;
    font-family: @font-title;
}

h3 {
    .head(18px, 30px, normal, @color_text);
    font-weight: 700;
}

h4 {
    .head(16px, 30px, normal, @color_text);
    font-weight: 700;
}

h5 {
    .head(12px, 30px, normal, @color_text);
    font-weight: 400;
    text-transform: uppercase;
}


table{
    border-collapse:collapse;
}

.contact-table {
    width: 100%;
    td {
        width: 50%;
        vertical-align: top;
        padding: 100px 40px;
    }
}

.table {
    width: 100%;
    td{
        border: 1px solid #dadada;
        padding: 15px 20px;
        font-size: 16px;
    }

    th {
        padding: 15px 20px;
        text-align: left;
        background: #f6f5e7;
        border: 1px solid #dadada;
        vertical-align: top;
    }
}


blockquote {
    padding: 40px 50px;
    background: #f6f5e7;
    font-size: 24px;
    font-family: @font-title;
    line-height: 40px;
    margin-bottom: 30px;
    margin-left: -50px;
    width: ~'calc(100% + 100px)'
}

ul, ol{
    margin:0 0 30px 0px; 
    padding: 0 0 0 50px;
    ul, ol {
        margin: 30px ;
    }
}
ul li, ol li{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 40px;
}
.content {
    ul li {
        list-style: none;
        position: relative;
        &:before {
            position: absolute;
            content: "";
            display: block;
            width: 15px;
            height: 1px;
            background: @color_text;
            top: 15px;
            left: -40px;
        }
    }

}
    ol {
        counter-reset: counter;
        li {
            list-style: none;
            position: relative;
            &:before {
                position: absolute;
                top: 0;
                left: -40px;
                counter-increment: counter;
                content:counter(counter)'.';
                font-family: @font-title;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }

mark {
    display: block;
    background: none;
    font-style: italic;
    font-family: @font-title;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 30px;
}

.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}


/*базовые стили обертки модалок*/
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
    overflow: hidden;
}

.modal {
    width: 560px;
    position: absolute;
    left: 50%;
    top: 150px;
    margin-left: -280px;
    background: #fff;
    padding: 40px 40px;
    display: none;
}

.modal--fz  {             // во весь экран
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    padding: 0;
    display: none;
    margin: 0;
}

.modal--menu  {             // во весь экран
    width: 40vw;
    min-height: 100%;
    left:  -40vw;
    position: absolute;
    top: 0;
    background: #3f6349;
    padding: 0;
    display: block;
    margin: 0;
    transition: left 0.3s;

    &.open {
        left: 10vw;
    }
}

.modal--order  {             // во весь экран
    width: 40vw;
    min-height: 100%;
    position: absolute;
    right: -40vw;
    left: auto;
    top: 0;
    background: #3f6349;
    padding: 0;
    display: block;
    margin: 0;
    transition: right 0.3s;

    .menu-close {
        right: auto;
        left: 100%; 
    }

    &.open {
        right: 10vw;
    }
}

.j-noScroll {
    overflow: hidden;
}