/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@arrow-name: 'arrow';
@arrow-x: 26px;
@arrow-y: 348px;
@arrow-offset-x: -26px;
@arrow-offset-y: -348px;
@arrow-width: 28px;
@arrow-height: 24px;
@arrow-total-width: 480px;
@arrow-total-height: 423px;
@arrow-image: '../img/sprite.png';
@arrow: 26px 348px -26px -348px 28px 24px 480px 423px '../img/sprite.png' 'arrow';
@close-name: 'close';
@close-x: 62px;
@close-y: 286px;
@close-offset-x: -62px;
@close-offset-y: -286px;
@close-width: 58px;
@close-height: 58px;
@close-total-width: 480px;
@close-total-height: 423px;
@close-image: '../img/sprite.png';
@close: 62px 286px -62px -286px 58px 58px 480px 423px '../img/sprite.png' 'close';
@facebook-name: 'facebook';
@facebook-x: 0px;
@facebook-y: 388px;
@facebook-offset-x: 0px;
@facebook-offset-y: -388px;
@facebook-width: 19px;
@facebook-height: 35px;
@facebook-total-width: 480px;
@facebook-total-height: 423px;
@facebook-image: '../img/sprite.png';
@facebook: 0px 388px 0px -388px 19px 35px 480px 423px '../img/sprite.png' 'facebook';
@google-name: 'google';
@google-x: 175px;
@google-y: 286px;
@google-offset-x: -175px;
@google-offset-y: -286px;
@google-width: 37px;
@google-height: 36px;
@google-total-width: 480px;
@google-total-height: 423px;
@google-image: '../img/sprite.png';
@google: 175px 286px -175px -286px 37px 36px 480px 423px '../img/sprite.png' 'google';
@logo-menu-name: 'logo-menu';
@logo-menu-x: 0px;
@logo-menu-y: 0px;
@logo-menu-offset-x: 0px;
@logo-menu-offset-y: 0px;
@logo-menu-width: 480px;
@logo-menu-height: 284px;
@logo-menu-total-width: 480px;
@logo-menu-total-height: 423px;
@logo-menu-image: '../img/sprite.png';
@logo-menu: 0px 0px 0px 0px 480px 284px 480px 423px '../img/sprite.png' 'logo-menu';
@menu-name: 'menu';
@menu-x: 122px;
@menu-y: 286px;
@menu-offset-x: -122px;
@menu-offset-y: -286px;
@menu-width: 51px;
@menu-height: 44px;
@menu-total-width: 480px;
@menu-total-height: 423px;
@menu-image: '../img/sprite.png';
@menu: 122px 286px -122px -286px 51px 44px 480px 423px '../img/sprite.png' 'menu';
@ok-name: 'ok';
@ok-x: 0px;
@ok-y: 348px;
@ok-offset-x: 0px;
@ok-offset-y: -348px;
@ok-width: 24px;
@ok-height: 38px;
@ok-total-width: 480px;
@ok-total-height: 423px;
@ok-image: '../img/sprite.png';
@ok: 0px 348px 0px -348px 24px 38px 480px 423px '../img/sprite.png' 'ok';
@phone-name: 'phone';
@phone-x: 0px;
@phone-y: 286px;
@phone-offset-x: 0px;
@phone-offset-y: -286px;
@phone-width: 60px;
@phone-height: 60px;
@phone-total-width: 480px;
@phone-total-height: 423px;
@phone-image: '../img/sprite.png';
@phone: 0px 286px 0px -286px 60px 60px 480px 423px '../img/sprite.png' 'phone';
@sm-name: 'sm';
@sm-x: 251px;
@sm-y: 286px;
@sm-offset-x: -251px;
@sm-offset-y: -286px;
@sm-width: 16px;
@sm-height: 16px;
@sm-total-width: 480px;
@sm-total-height: 423px;
@sm-image: '../img/sprite.png';
@sm: 251px 286px -251px -286px 16px 16px 480px 423px '../img/sprite.png' 'sm';
@vk-name: 'vk';
@vk-x: 214px;
@vk-y: 286px;
@vk-offset-x: -214px;
@vk-offset-y: -286px;
@vk-width: 35px;
@vk-height: 20px;
@vk-total-width: 480px;
@vk-total-height: 423px;
@vk-image: '../img/sprite.png';
@vk: 214px 286px -214px -286px 35px 20px 480px 423px '../img/sprite.png' 'vk';
@spritesheet-width: 480px;
@spritesheet-height: 423px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @arrow @close @facebook @google @logo-menu @menu @ok @phone @sm @vk;
@spritesheet: 480px 423px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
