@import "../sprite.less";
@import "../mixin.less";
@import "../base.less";

@media screen and (max-width: 1600px) {
    .news,
    .service-list,
    .wrap,
    .news-inn {
        max-width: 1020px;
        margin: 0 auto;
    }

    .news-one,
    .service-one {
        width: 290px;
    }

    .service-one {
        height: 215px;
        padding: 70px 30px 0;
        margin-bottom: 45px;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            background: #5a7a63;
            transition: all 0.4s;
            clip-path: polygon(0% 0%, 50% 25px, 100% 0%, 100% 190px, 50% 215px, 0 190px);
        }

        el {
            top: 40px;
            font-size: 12px;
            font-weight: 700;
            z-index: 2;
            &:before {
                content: "";
                position: absolute;
                top: 7px;
                left: -40px;
                width: 24px;
                height: 1px;
                background: #f5f0ad;
            }
        }

        span {
            line-height: 28px;
            font-size: 18px;
        }
    }

    .footer-inn,
    .service,
    .slider,
    .top,
    .service-one-inn,
    .content-top {
        width: 85vw;
    }

    .head-social {
        position: fixed;
        bottom: 30px;
        left: 4.5vw;
        transform: rotate(-90deg);
        transform-origin: 0 100%;

        a {
            margin-right: 40px;
            font-size: 16px;
        }
    }

    .head-order {
        top: 110px;
        right: -0.6vw;
        padding-left: 90px;
        font-size: 14px;
        &:before {
            top: -21px;
            right: 71px;
            transform: rotate(-90deg) scale(.5);
        }

        &:after {
            top: 12px;
            right: 67px;
        }
    }

    .head-menu {
        font-size: 16px;
        top: 170px;
        left: 4.8vw;
        padding-right: 70px;
        &:before {
            transform: scale(.55) rotate(90deg);
            top: -10px;
            right: 1px;
        }

        &:after {
            top: 12px;
            right: 46px;
        }
    }

    .head {
        height: 60px;
    }

    .head-service {
        a {
            font-size: 16px;
            margin-right: 60px;
        }
    }

    .head-top {
        padding-top: 20px;
        width: 84vw;
    }

    .head-logo {
        top: 25px;
        left: 50px;
        img {
            width: 140px;
        }
    }

    .slider-descr {
        padding: 120px 70px 0;
    }

    .slider-descr__title,
    .top-descr__title  {
        font-size: 44px;
        line-height: 55px;
        margin-bottom: 30px;
        width: 430px;
    }

    .slider-descr__text,
    .top-descr__text {
        font-size: 15px;
        line-height: 26px;
        max-width: 430px;
        width: auto;
    }

    .slide {
        height: ~'calc(100vh + 40px)';
    }

    .head-phone {
        font-size: 22px;
    }

    .about {
        margin: 90px auto;
    }

    .service {
        padding: 160px 0;
    }

    .news-one__title {
        font-size: 17px;
    }
    
    .menu-close {
        height: 200px;
    }

    .modal--menu {
        padding: 40px 0px;
    }

    @menu-padding: 70px;

    .menu-logo {
        margin-bottom: @menu-padding;
        margin-left: @menu-padding;
        img {
            width: 140px;
        }
    }

    .menu-list {
        a {
            font-size: 24px;
            padding: 0 @menu-padding;
        }
    }

    .menu-list ul ul {
        padding: 70px @menu-padding;
    }

    .slider {
        .swiper-button-next, 
        .swiper-button-prev {
            bottom: 120px;
        }
    }
    .news-list {
        height: 450px;
    }

    .news-one__img {
        width: 290px;
        height: 220px;
    }

    .top {
        height: ~'calc(100vh - 120px)';
        margin-bottom: 60px;
    }

    .scroll-bottom {
        bottom: -40px;

        &:before {
            height: 30px;
            bottom: 25px;
        }
    }

    .top-price,
    .top-date {
        bottom: 70px;
        left: 70px;
    }

    .personal-one {
        width: 260px;
    }

    .personal-one__img {
        height: 320px;
    }

    .top--service {
    }

    @keyframes scranim {
        from {
            height: 0px;
            bottom: 55px;
        }

        to {
            height: 30px;
            bottom: 25px;
        }
    }
}

@media screen and (max-width: 1360px) {
    .footer-inn,
    .service,
    .slider,
    .head-top,
    .top,
    .service-one-inn,
    .content-top {
        width: 87vw;
    }

    .slider {
        .swiper-button-next, 
        .swiper-button-prev {
            bottom: 100px;
        }
    }

    .news,
    .service-list,
    .wrap,
    .news-inn {
        max-width: 800px;
        margin: 0 auto;
    }

    .slider-img {
        background-position: 50% 50%;
    }

    .news-one,
    .service-one {
        width: 230px;
    }

    .service-one {
        padding-top: 50px;

        el {
            top: 25px;
        }
    }

    .head-service {
        a {
            margin-right: 40px;
        }
    }

    .head-menu {
        left: 4vw;
        top: 160px;

        &:before {
            transform: rotate(90deg) scale(.48);
        }
    }

    .head-social {
        left: 4vw;
        bottom: 30px;
    }

    .footer-menu {
        a {
            margin-right: 60px;
        }
    }

    .head-order {
        top: 110px;
        right: -2.2vw;
    }

    .menu-close {
        height: 200px;
        width: 6.5vw;

        &:before {
            transform: scale(.4);
        }
    }

    .modal--menu {
        width: 43.5vw;
        left: -43.5vw;
        &.open {
            left: 6.5vw;
        }
    }

    .modal--order {
        width: 43.5vw;
        right: -43.5vw;
        &.open {
            right: 6.5vw;
        }
    }

    @menu-padding: 50px;

    .menu-logo {
        margin-bottom: @menu-padding;
        margin-left: @menu-padding;
        img {
            width: 140px;
        }
    }

    .menu-list {
        a {
            font-size: 24px;
            padding: 0 @menu-padding;
        }
    }

    .menu-list ul ul {
        padding: 70px @menu-padding;
        width: 43.5vw;
    }

    .go-top {
        right: 1.9vw;
    }
    .news-list {
        height: 420px;
    }

    .news-one__img {
        width: 230px;
        height: 180px;
    }

    .top {

    }

    .service-list-one {
        padding: 60px 80px;
    }

    .form-title {
        font-size: 30px;
    }

    .top-price {
        bottom: 70px;
        left: 70px;
    }

    .service-bottom__back {
        margin: 50px 0 70px;
    }

    .news-inn-one {
        margin-bottom: 80px;
    }

    .news-inn-one__img {
        height: 300px;
        width: ~'calc(50% - 20px)';
    }

    .news-inn-left {
        width: ~'calc(50% - 20px)';
    }

    .news-inn-one__date {
        margin-bottom: 30px;
    }

    .news-inn-one__title {
        font-size: 20px;
    }

    .news-inn-one__descr {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .news-inn-one__more {
        font-size: 12px;
    }

    .content-top {
        min-height: 240px;
        padding-top: 120px;
        margin-bottom: 80px;
        &:before {
            height: 30px;
            bottom: -15px;
        }
    }

    .content-top__title {
        font-size: 44px;
    }

    .pagination {
        padding: 60px 0 90px;
    }

    .personal-one {
        width: 230px;
    }

    .personal-modal-descr {
        padding: 80px 40px;
    }
    
    .sert-nav {
        right: ~'calc(50% - 150px)';
    }

    .slider-descr__title,
    .top-descr__title {
        font-size: 36px;
        line-height: 48px;
    }
}