@import "../sprite.less";
@import "../mixin.less";
@import "../base.less";


@media screen and (max-width: 759px) { // планшет вертикально
	.head {
		height: 80px;
	}

	.head-top {
		padding: 15px 0;
	}

	.head-logo {
		left: 60px;
		img {
			width: 85px;
		}
	}

	.mobile-menu {
		top: 20px;
    	left: 8px;
    	transform: scale(.4);
	}

	.head-phone--menu {
		top: 31px;
	}

	.head-order {
		top: 10px;
		&:before {
    		transform: scale(.4);
		}
	}

	.head-order--menu {
        top: 17px;
        right: 6px;
        &:before {
            transform: scale(0.5);
        }
    }

	.head-phone {
		font-size: 12px;
		bottom: 38px;
    	right: 70px;
	}

	.slider-img {
		display: none;
	}

	.slider-descr {
		width: 100%;
		padding: 30px 30px 0;
	}

	.slide {
		height: 390px;
	}

	.slider {
        .swiper-button-next, 
        .swiper-button-prev {
            bottom:60px;
            transform: scale(0.7);
        }

        .swiper-button-next {
        	right: 30px;
        }

        .swiper-button-prev {
        	right: 80px;
        }
    }

	.slider-descr__title {
		font-size: 26px;
		line-height: 35px;
		margin-bottom: 20px;
	}

	.slider-descr__text {
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 20px;
	}

	.slider-descr__more {
		position: absolute;
		bottom: 60px;
		left: 30px;
	}

	.about {
		font-size: 20px;
		line-height: 30px;
		margin: 40px 30px;
	}

	.service {
		padding: 90px 0;
		&:before {
			height: 60px;
		}

		&:after {
			height: 65px;
		}
	}

	.service-title {
		font-size: 28px;
		line-height: 35px;
		padding: 0 20px;
		margin-bottom: 30px;
	}

	.tab-list {
		margin-bottom: 30px;
	}

	.tab-list__one {
		font-size: 13px;
		margin: 0 5px;
	}

	.service-list {
		padding: 0 40px;
		display: block;
	}

	.service-one {
		width: 100%;
		padding: 60px 30px 0;
		span {
			font-size: 18px;
			line-height: 28px;
		}
	}

	.service-more {
		margin-bottom: 10px;
		span {
			font-size: 10px;
		}

		a {
			font-size: 12px;
		}
	}

	.news {
		padding: 40px 30px;
	}

	.news-title {
		font-size: 28px;
		margin-bottom: 30px;
	}

	.news-list {
		display: block;	
	}

	.news-one {
		width: 100%;
		padding-left: 40px;
		margin-bottom: 30px;
	}

	.news-one__img {
		margin-left: -30px;
	}

	.news-more {
		margin-bottom: 20px;
		margin-top: 50px;
		span {
			font-size: 10px;
		}

		a {
			font-size: 12px;
		}
	}

	.footer {
		
	}

	.footer-inn {
		padding: 30px 0 10px;
	}

	.wrap {
		padding: 0 30px;
	}

	.footer-top {
		margin-bottom: 30px;
	}

	.footer-menu {
		margin-bottom: 20px;
		a {
			font-size: 14px;
			margin-right: 15px;
		}
	}

	.footer-price {
		position: relative;
		top: auto;
		right: auto;
		display: inline-block;
		padding: 5px 10px;
		font-size: 14px;
	}

	.footer-middle {
		display: block;
		padding-left: 110px;
	}

	.footer-logo {
		position: absolute;
		top: 0;
		left: 0;
		img {
			width: 90px;
		}
	}

	.footer-text {
		width: 100%;
		margin-left: 0;
		margin-bottom: 30px;
		font-size: 12px;
		p {
			font-size: 12px;
		}
	}

	.footer-text__title {
		font-size: 12px;
		margin-bottom: 20px;
	}

	.footer-social {
		a {
			display: block;
			padding: 0;
			span {
				display: none;
			}

			i {
				position: relative;
				left: 0;
			}
		}
	}

	
	.footer-bottom {
		padding: 20px 30px;
		font-size: 11px;
		line-height: 20px;
		span {
			display: block;
			text-align: center;
		}

		em {
			display: none;
		}
	}

	.modal--menu {
		width: 100%;
		left: 0;
	}

	.menu-logo {
		margin: 15px 0px;
		height: 50px;
		left: 60px;
		position: relative;
		img {
			width: 85px;
		}
	}

	.menu-close {
		height: 80px;
		width: 60px;
		z-index: 10;
		right: auto;
		left: 0;
	}

	.menu-social {
		position: relative;
		width: 100%;
		height: auto;
		left: 0;
		top: 0;
		
		.menu-social-inn {
			position: absolute;
			border-top: 1px solid #4f7258;
			transform: rotate(0);
			text-align: center;
			padding: 30px 0px;
			left: 0;
			bottom: 0;
			width: 100%;

			a {
				font-size: 12px;
				margin: 0 15px;
			}
		}
	}

	.menu-list {
		height: ~'calc(100vh - 160px)';
		margin-bottom: 80px;
	}


	.menu-one {
		> a {
			font-size: 18px;
			padding-left: 60px;
		}
	}

	.j-submenu {
		em {
			width: 60px;
			height: 30px;
			&:before {
				left: 25px;
				top: 12px;
			}

			&:after {
				left: 25px;
				top: 12px;
			}
		}

		&.open {
			em {
				&:after {
					width: 25px;
					left: 25px;
					top: 12px;
				}
			}
		}
	}

	.menu-list ul ul {
		padding: 90px 60px 30px;

		li a {
			font-size: 14px;
		}
	}

	.go-top {
		display: none;
	}

}

@media screen and (max-width: 480px) { // телефон

}