@import "../sprite.less";
@import "../mixin.less";
@import "../base.less";

@media screen and (max-width: 1024px) { // планшет вертикально
    .head-left,
    .head-service,
    .head-price {
        display: none;
    }

    .footer-inn,
    .service,
    .slider,
    .head-top,
    .top,
    .content-top {
        width: 100%;
    }

    .top {
        height: 530px;
    }

    .scroll-bottom {

    }

    .slider-img {
        background-attachment: scroll;
        background-position: center;
    }

    .head {
        height: 100px;
    }

    .head-phone {
        bottom: 30px;
        right: 80px;
    }

    .head-phone--menu {
        display: block;
        color: #fff;
        bottom: auto !important;
        top: 35px;

        span {
            color: #fff;
        }
    }

    .head-logo {
        top: 0;
        left: 80px;
        img {
            width: 120px;
        }
    }

    .head-top {
        padding: 10px 0;
    }

    .head-order {
        transform: rotate(0);
        transform-origin: 0 0;
        top: 22px;
        right: 0;
        position: absolute;
        padding-left: 0;
        z-index: 10;

        &:after {
            display: none;
        }

        span {
            display: none;
        }

        &:before {
            display: inline-block;
            position: relative;
            top: 0;
            right: 0;
            transform: rotate(0) scale(0.52);
            transform-origin: 50% 50%;
        }
    }

    .head-order--menu {
        display: block;
        top: 27px;
        right: 6px;
        &:before {
            .sprite(@order-menu);
            transform: scale(0.65);
        }
    }

    .mobile-menu {
        display: block;
    }

    .modal--menu {
        width: ~'calc(100% - 60px)';
        left: -100%;
        padding: 0;
        &.open {
            left: 60px;
        }
    }

    .menu-close {
        height: 100px;
        width: 60px;
        z-index: 10;

        &:before {
            transform: scale(0.3);
        }
    }

    .menu-logo {
        margin: 10px 20px;
        height: 80px;
        display: inline-block;
        img {
            width: 120px;
        }
    }

    .menu-list {
        border-top: 1px solid #4f7258;
        border-left: 1px solid #4f7258;
        padding: 0;
        height: ~'calc( 100vh - 100px )';
        overflow: auto;
        a {
            color: #fff;
            padding-left: 80px;
            margin-bottom: 30px;
        }

        > ul {
            position: relative;
            padding-top: 40px;
        }

    }

    .menu-list ul ul {
        width: 100%;
        height: auto;
        min-height: ~'calc( 100vh - 105px )';
        padding: 50px 80px;
        left: -100%;
        z-index: 1 !important;
        padding-top: 110px;
        display: none;
    }

    .j-submenu {
        ul {
        }
        > a {
            position: relative;
        }

        em {
            position: absolute;
            width: 80px;
            height: 40px;
            top: 0;
            left: 0;
            &:after {
                content: "";
                width: 12px;
                height: 2px;
                background: #f5f0ad;
                position: absolute;
                top: 18px;
                left: 38px;
            }

            &:before {
                content: "";
                width: 12px;
                height: 2px;
                background: #f5f0ad;
                position: absolute;
                top: 18px;
                left: 38px;
                transform: rotate(90deg);
            }
        }

        &.open {
            > a {
                z-index: 12;
                position: absolute;
                top: 40px;
                color: #f5f0ad;
                left: 0;

            }

            em {
                &:after {
                    content: "";
                    width: 30px;
                    height: 2px;
                    background: #f5f0ad;
                    border: none;
                    right: auto;
                    top: 18px;
                    left: 30px;
                }

                &:before {
                    display: none;
                }
            }

            ul {
                top: 0;
                left: 0;
                display: block;
                overflow: visible;
                height: auto;

                a {
                    padding: 0;
                    margin-bottom: 20px;

                    &:after {
                        display: none;
                    }
                }
            }
        }
    } 

    .menu-social {
        display: block;
    }

    .slider-descr__title,
    .top-descr__title {
        font-size: 34px;
        width: auto;
        line-height: 45px;
    }

    .slider-descr__text,
    .top-descr__text {
        max-width: 100%;
    }

    .slider-descr {
        padding: 100px 60px 0;
    }

    .slide {
        height: 610px;
        &:after {
            bottom: -1px;
        }
    }
    
    .slider {
    }

    .news-one, .service-one {
        width: 180px;
    }

    .service-one {
        height: 185px;
        padding: 50px 20px 0;
        margin: 0 0px 35px;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            background: #5a7a63;
            transition: all 0.4s;
            clip-path: polygon(0% 0%, 50% 15px, 100% 0%, 100% 170px, 50% 185px, 0 170px);
        }

        span {
            font-size: 16px;
            line-height: 26px;
        }
    }

    .news, 
    .service-list, 
    .wrap {
        width: 100%;
        padding: 0 60px;
    }

    .service-one-inn {
        width: 100%;
    }

    .service {
        padding: 120px 0;

        &:before {
            height: 85px;
        }


    }

    .service-more {
        margin-top: 30px;
    }

    .service-title {
        font-size: 38px;
    }

    .tab-list {
        margin-bottom: 40px;
    }

    .tab-list__one {
        font-size: 15px;
    }

    .news-title {
        font-size: 38px;
    }

    .news-one__title {
        font-size: 15px;
        line-height: 26px;
    }

    .news-one {
        padding-left: 20px;
    }

    .news {
        padding: 60px 35px;
    }

    .news-one__img {
        width: 180px;
        height: 140px;
    }

    .footer-text {
        width: auto;
        margin-left: 20px;
        margin-bottom: 50px;
    }

    .footer-social {
        a {
            font-size: 14px;
            padding-left: 50px;
        }

        span {
            &:before {
                width: 10px;
            }
        }
    }

    .footer-inn {
        padding: 50px 0;
    }

    .footer-top {
        margin-bottom: 50px;
    }

    .about {
        margin: 80px;
        font-size: 30px;
    }

    .go-top {
        display: none;
    }

    .slider {
        .swiper-button-next, 
        .swiper-button-prev {
            bottom: 80px;
        }
    }

    .order-form {
        padding: 30px;
    }

    .order-form__title {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .modal--order {
        width: 100%;
        right: -100%;
        left: auto;

        .modal-close {
            right: 0;
            left: auto;
            width: 80px;
            height: 90px;
        }

        &.open {
            right: 0;
        }
    }
    
    .form-line {
        input[type="text"] {
            font-size: 12px;
        }


        button {
            width: 100%;
        }
    }

    .service-order .form-line {
        textarea {
            font-size: 12px;
        }
    }

    .news-list {
        height: auto;
    }

    .content {
        padding: 0 60px;
        width: 100%;
        max-width: 1000px;
    }

    blockquote {
        margin-left: -30px;
        width: ~'calc(100% + 60px)'
    }

    .categories {
        padding: 70px 60px;
        width: 100%;
    }

    .category {
        width: 180px;
    }

    .category__title {
        font-size: 20px;
    }

    .service-list-one {
        padding: 60px 100px;
    }

    .service-one__title {
        font-size: 30px;
    }

    .service-one__price {
        font-size: 15px;
    }

    .top-price,
    .top-date {
        bottom: 60px;
        left: 60px;
    }

    .select-list__one {
        font-size: 12px;
    }

    .service-bottom__back {
        margin: 50px 0 50px;
    }

    .content-top {
        min-height: 200px;
        padding-top: 90px;
    }

    .content-top__title {
        font-size: 34px;
    }

    .news-inn {
        padding: 0 60px;
    }

    .pagination {
        padding: 60px 0 90px;
    }
    .personal-one {
        width: 190px;
        margin-bottom: 50px;
    }

    .personal-one__img {
        height: 250px;
    }

    .personal-one__name {
        font-size: 20px;
    }

    .personal-modal-descr {
        padding: 50px 40px;

        h2 {
            font-size: 24px;
        }
    }

    .personal-modal-photo {
        width: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 0;

        img {
            height: auto;
            width: 100%;
        }
    }

    .sert-one {
        width: ~'calc(50% - 20px)';
    }

    .sert-nav {
        bottom: 50px;
        right: ~'calc(50% - 140px)';
    }

    .top--error {
        height: ~'calc(100vh - 200px)' !important;
    }

    .error-title {
        font-size: 24px;    
    }

    .error-text {
        font-size: 16px;
    }

    @keyframes redanim {
        from {
            height: 0px;
            bottom: 15px;
        }

        to {
            height: 30px;
            bottom: -15px;
        }
    }
}

