<div class="news">
    <div class="news-title">Новости</div>
    <div class="news-list">
        <div class="news-one">
            <a class="news-one__img" href="#" style="background-image: url(tmp/news-main.jpg);"></a>
            <div class="news-one__date">август  |  22.2017</div>
            <a class="news-one__title" href="#">Увеличение пеней по налогам, сборам и страховым взносам</a>
        </div>
        <div class="news-one">
            <a class="news-one__img" href="#" style="background-image: url(tmp/news-main2.jpg);"></a>
            <div class="news-one__date">август  |  08.2017</div>
            <a class="news-one__title" href="#">Увеличение штрафов за задержку заработной платы или люби свою команду</a>
        </div>
        <div class="news-one">
            <a class="news-one__img" href="#" style="background-image: url(tmp/news-main.jpg);"></a>
            <div class="news-one__date">август  |  22.2017</div>
            <a class="news-one__title" href="#">Увеличение пеней по налогам, сборам и страховым взносам</a>
        </div>
    </div>

    <div class="news-more">
        <span><b>Смотреть</b> все</span> 
        <a href="#">Новости</a>
    </div>

</div>