<div class="service">
    <div class="service-title">
        Оказываемые услуги
    </div>
    
    <div class="tabs">
        <div class="tab-list">
            <div class="tab-list__one active">Бухгалтерские</div>
            <div class="tab-list__one">Юридические</div>
            <div class="tab-list__one">Аудиторские</div>
        </div>
        <clipPath id="clipping">
          <polygon points="0,0 175,30 350,0 350,230 175,260 0,230"/>
        </clipPath>
        <div class="tab-wrap">
            <div class="tab-one">
                <div class="service-list">
                    <a href="#" class="service-one">
                        <el>01</el>
                        <span>Бухгалтерское абоненское обслуживание</span>
                    </a>
                    <a href="#" class="service-one">
                        <el>02</el>
                        <span>Восстановление учета</span>
                    </a>
                    <a href="#" class="service-one">
                        <el>03</el>
                        <span>Постановка учета «с нуля»</span>
                    </a>
                    <a href="#" class="service-one">
                        <el>04</el>
                        <span>Составление и сдача «нулевой» отчетности</span>
                    </a>
                    <a href="#" class="service-one">
                        <el>05</el>
                        <span>Помощь при регистрации on-line кассы</span>
                    </a>
                    <a href="#" class="service-one">
                        <el>06</el>
                        <span>Предоставление доступа Заказчику к его бухгалтерским базам</span>
                    </a>
                    <a href="#" class="service-one">
                        <el>07</el>
                        <span>Расчет заработной платы. Начисление.</span>
                    </a>
                    <a href="#" class="service-one">
                        <el>08</el>
                        <span>Ведение кадрового учета</span>
                    </a>
                    <a href="#" class="service-one">
                        <el>09</el>
                        <span>Ведение делопроизводства на предприятии</span>
                    </a>
                </div>
                <div class="service-more">
                    <span>Смотреть <b>все</b></span> 
                    <a href="#">Бухгалтерские услуги</a>
                </div>

            </div>
        </div>
    </div>


</div>