<div class="service">
    <div class="service-title">
        Оказываемые услуги
    </div>
    
    <div class="tabs">
        <div class="tab-list">
            <div class="tab-list__one active">Бухгалтерские</div>
            <div class="tab-list__one">Юридические</div>
            <div class="tab-list__one">Аудиторские</div>
        </div>
        <div class="tab-wrap">
            <div class="tab-one">
                <div class="service-list">
                    <a href="#" class="service-one">
                        <el>1</el>
                        Бухгалтерское абоненское обслуживание
                    </a>
                    <a href="#" class="service-one">
                        <el>2</el>
                        Восстановление учета
                    </a>
                    <a href="#" class="service-one">
                        <el>3</el>
                        Постановка учета «с нуля»
                    </a>
                    <a href="#" class="service-one">
                        <el>4</el>
                        Составление и сдача «нулевой» отчетности
                    </a>
                    <a href="#" class="service-one">
                        <el>5</el>
                        Помощь при регистрации on-line кассы
                    </a>
                    <a href="#" class="service-one">
                        <el>6</el>
                        Предоставление доступа Заказчику к его бухгалтерским базам
                    </a>
                    <a href="#" class="service-one">
                        <el>7</el>
                        Расчет заработной платы. Начисление.
                    </a>
                    <a href="#" class="service-one">
                        <el>8</el>
                        Ведение кадрового учета
                    </a>
                    <a href="#" class="service-one">
                        <el>9</el>
                        Ведение делопроизводства на предприятии
                    </a>
                </div>
                <div class="service-more">
                    Смотреть  все 
                    <a href="#">Бухгалтерские услуги</a>
                </div>

            </div>
        </div>
    </div>


</div>