<div class="slider">
    <div class="swiper-wrapper">
        <div class="slide swiper-slide">
            <div class="slider-descr">
                <div class="slider-descr__title fadeInUpSlide">
                    Весь спектр бухгалтерских услуг
                </div>
                <div class="slider-descr__text fadeInUpSlide">Мы успешно работаем в области бухгалтерского учета и аудита более 10 лет. Наша Компания оказывает бухгалтерские услуги юридическим лицам и индивидуальным предпринимателям.</div>
                <a class="slider-descr__more fadeInUpSlide" href="#">Подробнее</a>
            </div>
            <div class="slider-img wow fadeInDown" style="background-image: url(tmp/slider-img.jpg)"></div>
        </div>
        <div class="slide swiper-slide">
            <div class="slider-descr">
                <div class="slider-descr__title">
                    Весь спектр бухгалтерских услуг 2
                </div>
                <div class="slider-descr__text">Мы успешно работаем в области бухгалтерского учета и аудита более 10 лет. Наша Компания оказывает бухгалтерские услуги юридическим лицам и индивидуальным предпринимателям.</div>
                <a class="slider-descr__more" href="#">Подробнее</a>
            </div>
            <div class="slider-img" style="background-image: url(tmp/slider-img.jpg)"></div>
        </div>
        <div class="slide swiper-slide">
            <div class="slider-descr">
                <div class="slider-descr__title">
                    Весь спектр бухгалтерских услуг 3
                </div>
                <div class="slider-descr__text">Мы успешно работаем в области бухгалтерского учета и аудита более 10 лет. Наша Компания оказывает бухгалтерские услуги юридическим лицам и индивидуальным предпринимателям.</div>
                <a class="slider-descr__more" href="#">Подробнее</a>
            </div>
            <div class="slider-img" style="background-image: url(tmp/slider-img.jpg)"></div>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>