<div class="wrap">
    <div class="clients">
        <div class="client">
            <div class="client-img">
                <img src="tmp/client.png" alt="">
            </div>
            <div class="client-left">
                <div class="client-name">ООО "Эксперт-Ком"</div>
                <div class="client-descr">Экспертная оценка объектов недвижимости.</div>
            </div>
        </div>
        <div class="client">
            <div class="client-img">
                <img src="tmp/client2.png" alt="">
            </div>
            <div class="client-left">
                <div class="client-name">ООО "Эксперт-Ком"</div>
                <div class="client-descr">Экспертная оценка объектов недвижимости.</div>
            </div>
        </div>
        <div class="client">
            <div class="client-img">
                <img src="tmp/client.png" alt="">
            </div>
            <div class="client-left">
                <div class="client-name">ООО "Эксперт-Ком"</div>
                <div class="client-descr">Экспертная оценка объектов недвижимости.</div>
            </div>
        </div>
        <div class="client">
            <div class="client-img">
                <img src="tmp/client2.png" alt="">
            </div>
            <div class="client-left">
                <div class="client-name">ООО "Эксперт-Ком"</div>
                <div class="client-descr">Экспертная оценка объектов недвижимости.</div>
            </div>
        </div>
    </div>
</div>