<div class="wrap">
    <div class="clients">
        <div class="client">
            <img src="tmp/client.png" alt="">
            <div class="client-name">ООО "Эксперт-Ком"</div>
            <div class="client-descr">Экспертная оценка объектов недвижимости.</div>
        </div>
        <div class="client">
            <img src="tmp/client2.png" alt="">
            <div class="client-name">ООО "Эксперт-Ком"</div>
            <div class="client-descr">Экспертная оценка объектов недвижимости.</div>
        </div>
        <div class="client">
            <img src="tmp/client.png" alt="">
            <div class="client-name">ООО "Эксперт-Ком"</div>
            <div class="client-descr">Экспертная оценка объектов недвижимости.</div>
        </div>
        <div class="client">
            <img src="tmp/client2.png" alt="">
            <div class="client-name">ООО "Эксперт-Ком"</div>
            <div class="client-descr">Экспертная оценка объектов недвижимости.</div>
        </div>
    </div>
</div>