<div class="news-inn">
    <div class="news-inn-one">
        <a class="news-inn-one__img" href="#" style="background-image: url(tmp/news-inn.jpg);"></a>
        <div class="news-inn-left">
            <div class="news-inn-one__date">август  |  22.2017</div>
            <a class="news-inn-one__title" href="#">Увеличение пеней по налогам, сборам и страховым взносам</a>
            <div class="news-inn-one__descr">Господа бухгалтеры и бизнесмены. В течение ближайших шести месяцев в силу вступит 21 поправка, изменяющая правила бухгалтерского, налогового и кадрового учета в России.</div>
            <a class="news-inn-one__more" href="#">Узнать <span>подробнее</span></a>
        </div>
    </div>
    <div class="news-inn-one">
        <a class="news-inn-one__img" href="#" style="background-image: url(tmp/news-inn.jpg);"></a>
        <div class="news-inn-left">
            <div class="news-inn-one__date">август  |  22.2017</div>
            <a class="news-inn-one__title" href="#">Увеличение пеней по налогам, сборам и страховым взносам</a>
            <div class="news-inn-one__descr">Господа бухгалтеры и бизнесмены. В течение ближайших шести месяцев в силу вступит 21 поправка, изменяющая правила бухгалтерского, налогового и кадрового учета в России.</div>
            <a class="news-inn-one__more" href="#">Узнать <span>подробнее</span></a>
        </div>
    </div>
    <div class="news-inn-one">
        <a class="news-inn-one__img" href="#" style="background-image: url(tmp/news-inn.jpg);"></a>
        <div class="news-inn-left">
            <div class="news-inn-one__date">август  |  22.2017</div>
            <a class="news-inn-one__title" href="#">Увеличение пеней по налогам, сборам и страховым взносам</a>
            <div class="news-inn-one__descr">Господа бухгалтеры и бизнесмены. В течение ближайших шести месяцев в силу вступит 21 поправка, изменяющая правила бухгалтерского, налогового и кадрового учета в России.</div>
            <a class="news-inn-one__more" href="#">Узнать <span>подробнее</span></a>
        </div>
    </div>
    <div class="news-inn-one">
        <a class="news-inn-one__img news-inn-one__img--no-img" href="#"></a>
        <div class="news-inn-left">
            <div class="news-inn-one__date">август  |  22.2017</div>
            <a class="news-inn-one__title" href="#">Увеличение пеней по налогам, сборам и страховым взносам</a>
            <div class="news-inn-one__descr">Господа бухгалтеры и бизнесмены. В течение ближайших шести месяцев в силу вступит 21 поправка, изменяющая правила бухгалтерского, налогового и кадрового учета в России.</div>
            <a class="news-inn-one__more" href="#">Узнать <span>подробнее</span></a>
        </div>
    </div>
    <div class="news-inn-one">
        <a class="news-inn-one__img" href="#" style="background-image: url(tmp/news-inn.jpg);"></a>
        <div class="news-inn-left">
            <div class="news-inn-one__date">август  |  22.2017</div>
            <a class="news-inn-one__title" href="#">Увеличение пеней по налогам, сборам и страховым взносам</a>
            <div class="news-inn-one__descr">Господа бухгалтеры и бизнесмены. В течение ближайших шести месяцев в силу вступит 21 поправка, изменяющая правила бухгалтерского, налогового и кадрового учета в России.</div>
            <a class="news-inn-one__more" href="#">Узнать <span>подробнее</span></a>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="pagination">
        <a href="#" class="pagination-prev"></a>
        <span>1</span>
        <a class="pagination-one" href="#">2</a>
        <a class="pagination-one" href="#">3</a>
        <a class="pagination-one" href="#">4</a>
        <a class="pagination-one" href="#">5</a>
        <a href="#" class="pagination-next"></a>
    </div>
</div>