<div class="wrap">
    <div class="personal">
        <a href="#personal" class="personal-one  open-modal changePersonal" data-id="1">
            <div href="#personal" class="personal-one__img" style="background-image: url(tmp/personal.jpg);"></div>
            <div class="personal-one__position">бухгалтер</div>
            <div class="personal-one__name ">Шейнина<br>Наталья</div>
        </a>
        <a href="#personal" class="personal-one  open-modal changePersonal" data-id="2">
            <div href="#personal" class="personal-one__img" style="background-image: url(tmp/personal2.jpg);"></div>
            <div class="personal-one__position">бухгалтер</div>
            <div class="personal-one__name ">Шейнина<br>Наталья</div>
        </a>
        <a href="#personal" class="personal-one  open-modal changePersonal" data-id="3">
            <div href="#personal" class="personal-one__img" style="background-image: url(tmp/personal3.jpg);"></div>
            <div class="personal-one__position">бухгалтер</div>
            <div class="personal-one__name ">Шейнина<br>Наталья</div>
        </a>
        <a href="#personal" class="personal-one  open-modal changePersonal" data-id="4">
            <div href="#personal" class="personal-one__img" style="background-image: url(tmp/personal.jpg);"></div>
            <div class="personal-one__position">бухгалтер</div>
            <div class="personal-one__name ">Шейнина<br>Наталья</div>
        </a>
        <a href="#personal" class="personal-one  open-modal changePersonal" data-id="5">
            <div href="#personal" class="personal-one__img" style="background-image: url(tmp/personal2.jpg);"></div>
            <div class="personal-one__position">бухгалтер</div>
            <div class="personal-one__name ">Шейнина<br>Наталья</div>
        </a>
        <a href="#personal" class="personal-one  open-modal changePersonal" data-id="6">
            <div href="#personal" class="personal-one__img" style="background-image: url(tmp/personal3.jpg);"></div>
            <div class="personal-one__position">бухгалтер</div>
            <div class="personal-one__name ">Шейнина<br>Наталья</div>
        </a>
    </div>

</div>